auto-save-list
emojis
quelpa
eshell
projectile-bookmarks.eld
recentf
elpa
session.2a8c79254-b0ae-44a3-bd28-de92e13550ab
smex-items
tramp
network-security.data
url
personal.el
personal.el~
transient
.cache
server
custom.el
custom.el~
hjertnes.el
hjertnes.el~
org-journal.cache
.DS_Store
.lsp-session-v1
.mc-lists.el
bookmarks
mastodon.plstore
.org-id-locations
